# Node modules
node_modules/

# Next.js build
.next/
out/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Build / dist folders
dist/
build/

# IDE folders
.vscode/